absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
astroid==2.11.5
async-timeout==4.0.2
attrs==21.4.0
blis==0.7.7
catalogue==2.0.7
certifi==2021.10.8
charset-normalizer==2.0.12
chex==0.1.3
click==8.1.3
cycler==0.11.0
cymem==2.0.6
datasets==2.1.0
deepspeed==0.6.4
dill==0.3.4
dm-tree==0.1.7
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
filelock==3.6.0
flatbuffers==2.0
flax==0.4.2
fonttools==4.33.3
frozenlist==1.3.0
fsspec==2022.3.0
hjson==3.0.2
huggingface-hub==0.5.1
idna==3.3
import-tracker==2.0.1
isort==5.10.1
jax==0.3.10
jaxlib==0.3.10+cuda11.cudnn82
jedi==0.18.1
Jinja2==3.1.2
kiwisolver==1.4.2
langcodes==3.3.0
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
matplotlib==3.5.2
mccabe==0.7.0
msgpack==1.0.3
multidict==6.0.2
multiprocess==0.70.12.2
murmurhash==1.0.7
ninja==1.10.2.3
numpy==1.22.3
opt-einsum==3.3.0
optax==0.1.2
ortools==9.3.10497
packaging==21.3
pandas==1.4.2
parso==0.8.3
pathy==0.6.1
Pillow==9.1.0
platformdirs==2.5.2
preshed==3.0.6
protobuf==3.20.1
psutil==5.9.0
pudb==2022.1.1
py-cpuinfo==8.0.0
pyarrow==8.0.0
pydantic==1.8.2
Pygments==2.12.0
pylint==2.13.8
pyparsing==3.0.8
pyrasite==2.0
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
responses==0.18.0
scipy==1.8.0
sentencepiece==0.1.96
six==1.16.0
smart-open==5.2.1
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
srsly==2.4.3
tabulate==0.8.9
thinc==8.0.16
tokenizers==0.12.1
tomli==2.0.1
toolz==0.11.2
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.64.0
transformers==4.19.0.dev0
typer==0.4.1
typing_extensions==4.2.0
urllib3==1.26.9
urwid==2.1.2
urwid-readline==0.13
wasabi==0.9.1
wrapt==1.14.1
xxhash==3.0.0
yarl==1.7.2
